.header{
	max-width: 1044px;
	margin: auto;
	padding: 0px 25px;
}
.header__top{
	display: flex;
	justify-content: space-between;
	padding-top: 25px;
	padding-bottom: 25px;
}
.header__nav{
	width: 600px;
	max-width: 67%;
	display: flex;
	justify-content: space-between;
	font-family: 'Playfair Display', serif;
	color: #626262;
	font-size: 14px;
}
.header__image-wrap{
	padding-top: 5px;
    padding-bottom: 25px;
    max-width: 1044px;
	margin: 25px auto 0px auto;
    padding: 0px 25px;
}
.header__image{
	display: block;
	margin: auto;
	width: 100%;
}

.article-top{
	max-width: 944px;
	margin: 50px auto 0px auto;
	padding: 0px 25px;

	img{
		height: auto;
		max-width: 100%;
		vertical-align: middle;
	}
}
.article-top__content{
	margin-bottom: 30px;
}